{
  "extends": ["oclif", "oclif-typescript"],
  "rules": {
    "indent": ["error", 2],
    "semi": "off",
    "object-curly-spacing": "off",
    "unicorn/no-array-reduce": "off",
    "unicorn/prefer-object-from-entries": "off",
    "operator-linebreak": "off"
  }
}
